<li class="entry">
	<div class="Logo" location="Logo"></div>
	<h3 class="Name" location="Name"></h3>
	<div class="Description" location="Description"></div>
	<div class="Provider" location="Provider"></div>
	<div class="Download" location="Download"></div>
	<div class="Documentation" location="Documentation"></div>
    <div class="extension">
	  	<div class="Screencast" location="Screencast"></div>
	  	<div class="Tutorial" location="Tutorial"></div>
	  	<div class="Availability" location="Availability"></div>
	  	<div class="Model type" location="Model type"></div>
	  	<div class="Platform" location="Platform"></div>
	  	<div class="Supported functionality" location="Supported functionality"></div>
	  	<div class="Contact name" location="Contact name"></div>
	  	<div class="Contact mail" location="Contact mail"></div>
	  	<div class="Date created" location="Date created"></div>
	  	<div class="Last update" location="Last update"></div>
	  	<div class="button edit edit" location="button edit"></div>
	  	<div class="button edit delete" location="button delete"></div>
	  	<div class="button edit publish" location="button publish"></div>
	  	<div class="button edit reject" location="button reject"></div>
	  	<div class="button edit propose" location="button propose"></div>
	  	<div class="button edit unpublish" location="button unpublish"></div>
	  	<div class="button editless" location="button less"></div>
    </div>
	<div class="button more" location="button more"></div>
</li>