<br/>
<hr/>
<h1>Tools for BPM</h1>
On this page, we collect and promote innovative scientific and industrial tools that support BPM in any of several fields. <br/> 
The collection comprises tools such as <br/> 
<ul>
    <li>graphical model editors</li>
    <li>process model repositories</li>
    <li>tools for verification and performance analysis</li>
    <li>software to enact process models and adapt them during runtime</li>
    <li>tools for process mining and conformance checking</li>
</ul>
and many more.<br/>
<br/>
<hr/>
<ul class="resource-list" id="resource-list">
	<li class="entry">
		<div class="Logo" location="Logo"></div>
		<h3 class="Name" location="Name"></h3>
		<div class="Description" location="Description"></div>
		<div class="Provider" location="Provider"></div>
		<div class="Download URL" location="Download URL"></div>
		<div class="Documentation URL" location="Documentation URL"></div>
	  	<div class="Screencast URL" location="Screencast URL"></div>
	  	<div class="Tutorial URL" location="Tutorial URL"></div>
	  	<div class="Availability" location="Availability"></div>
	  	<div class="Model type" location="Model type"></div>
	  	<div class="Platform" location="Platform"></div>
	  	<div class="Supported functionality" location="Supported functionality"></div>
	  	<div class="Contact name" location="Contact name"></div>
	  	<!-- <div class="Contact mail" location="Contact mail"></div> -->
	  	<div class="Date created" location="Date created"></div>
	  	<div class="Last update" location="Last update"></div>
	  	<div class="OpenID of resource provider" location="OpenID of resource provider"></div>
	  	<div class="Contact of resource provider" location="Contact of resource provider"></div>
	  	<div id="button edit edit" class="button edit edit" location="button edit"></div>
	  	<div id="button edit delete" class="button edit delete" location="button delete"></div>
	  	<div id="button edit publish" class="button edit publish" location="button publish"></div>
	  	<div id="button edit reject" class="button edit reject" location="button reject"></div>
	  	<div id="button edit propose" class="button edit propose" location="button propose"></div>
	  	<div id="button edit unpublish" class="button edit unpublish" location="button unpublish"></div>
	</li>
</ul>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35319704-1']);
  _gaq.push(['_setDomainName', 'bpm-conference.org']);
  _gaq.push(['_trackPageview']);
  (function() {
	 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 </script>
<script>
function scrollPos() {
	 return {
		  x: window.pageXOffset ? window.pageXOffset : document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ? document.body.scrollLeft : null,
		  y: window.pageYOffset ? window.pageYOffset : document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ? document.body.scrollTop : null
	 }
}
function elemPos(obj) {
	 var pos = {x:0, y:0};
	 do {
		 pos.x += obj.offsetLeft;
	   pos.y += obj.offsetTop;
	 } while (obj = obj.offsetParent);
	 return pos;
}
var n = document.getElementById("navigation"),
	 f = document.getElementById("fixed"),
	c = false,
	 s = document.getElementById("nav_outer"),
	 npos = elemPos(n);
if (n && f && s && npos.y) {
	window.addEventListener("scroll", function() {
	    sp = scrollPos();
	    if (npos.y < sp.y && !c) {
			n.parentNode.removeChild(n);
	        f.appendChild(n);
	        c = true;
	    } else if (npos.y > sp.y && c) {
	    	n.parentNode.removeChild(n);
			s.appendChild(n);
			c = false;
	    }
	});	
}
</script>