<li class="entry">
	<div location="Tabs"></div>
	</br>
	<div class="Topics" location="Topics"></div>
    <div class="extension">
    	<div class="Modeling Languages" location="Modeling Languages"></div>
    	<div class="Task types" location="Task Types"></div>
	  	<div class="Other Tags" location="Other tags"></div>
	  	<div class="Contact name" location="Contact name"></div>
	  	<!-- <div class="Contact mail" location="Contact mail"></div> -->
	  	<div class="Date created" location="Date created"></div>
	  	<div class="Last update" location="Last update"></div>
	  	<div class="button edit edit" location="button edit"></div>
	  	<div class="button edit delete" location="button delete"></div>
	  	<div class="button edit publish" location="button publish"></div>
	  	<div class="button edit reject" location="button reject"></div>
	  	<div class="button edit propose" location="button propose"></div>
	  	<div class="button edit unpublish" location="button unpublish"></div>
	  	<div class="button editless" location="button less"></div>
    </div>
	<div class="button more" location="button more"></div>
</li>
<div location="TabButtons"></div>