<br/>
<hr/>
<h1>Tools for BPM</h1>
On this page, we collect and promote innovative scientific and industrial tools that support BPM in any of several fields. <br/> 
The collection comprises tools such as <br/> 
<ul>
    <li>graphical model editors</li>
    <li>process model repositories</li>
    <li>tools for verification and performance analysis</li>
    <li>software to enact process models and adapt them during runtime</li>
    <li>tools for process mining and conformance checking</li>
</ul>
and many more.<br/>
<br/>
<div location="sortSelect"></div>
<ul id="resource-list" location="cards"></ul>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35319704-1']);
  _gaq.push(['_setDomainName', 'bpm-conference.org']);
  _gaq.push(['_trackPageview']);
  (function() {
	 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 </script>
<script>
function scrollPos() {
	 return {
		  x: window.pageXOffset ? window.pageXOffset : document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ? document.body.scrollLeft : null,
		  y: window.pageYOffset ? window.pageYOffset : document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ? document.body.scrollTop : null
	 }
}
function elemPos(obj) {
	 var pos = {x:0, y:0};
	 do {
		 pos.x += obj.offsetLeft;
	   pos.y += obj.offsetTop;
	 } while (obj = obj.offsetParent);
	 return pos;
}
var n = document.getElementById("navigation"),
	 f = document.getElementById("fixed"),
	c = false,
	 s = document.getElementById("nav_outer"),
	 npos = elemPos(n);
if (n && f && s && npos.y) {
	window.addEventListener("scroll", function() {
	    sp = scrollPos();
	    if (npos.y < sp.y && !c) {
			n.parentNode.removeChild(n);
	        f.appendChild(n);
	        c = true;
	    } else if (npos.y > sp.y && c) {
	    	n.parentNode.removeChild(n);
			s.appendChild(n);
			c = false;
	    }
	});	
}
</script>
<script>

function showEntry(id){                                         
        var divId = id + "_extension"
        document.getElementById(divId).style.display = "block";
        var button_id = id + "_button_more";
        document.getElementById(button_id).style.display = "none";
        var button_id = id + "_button_less";
        document.getElementById(button_id).style.display = "block";
        
}
</script>

<script>

function hideEntry(id){
    var divId = id + "_extension"
    document.getElementById(divId).style.display = "none";
    var button_id = id + "_button_more";
    document.getElementById(button_id).style.display = "block";
    var button_id = id + "_button_less";
    document.getElementById(button_id).style.display = "none";

}

</script>