<li class="entry">
	<div class="Logo" location="Logo"></div>
	<h3 class="Name" location="Name"></h3>
	<div class="Description" location="Description"></div>
	<div class="Provider" location="Provider"></div>
	<div class="Download" location="Download"></div>
	<div class="Documentation" location="Documentation"></div>
    <div class="extension">
	  	<div class="Screencast" location="Screencast"></div>
	  	<div class="Availability" location="Availability"></div>
	  	<div class="Model type" location="Model type"></div>
	  	<div class="Platform" location="Platform"></div>
	  	<div class="Supported functionality" location="Supported functionality"></div>
	  	<div class="Contact name" location="Contact name"></div>
	  	<div class="Contact mail" location="Contact mail"></div>
	  	<div class="Date created" location="Date created"></div>
	  	<div class="Last update" location="Last update"></div>
	  	<a class="button edit" location="button edit"></a>
	  	<a class="button delete" location="button delete"></a>
	  	<a class="button publish" location="button publish"></a>
	  	<a class="button reject" location="button reject"></a>
	  	<a class="button propose" location="button propose"></a>
	  	<a class="button unpublish" location="button unpublish"></a>
	  	<a class="button less" location="button less"></a>
    </div>
	<a class="button more" location="button more"></a>
</li>