
<head>
  <meta name="google-signin-client_id" content="1022476700860-lijijtb6nejrgrjsd9fhacqskd8dpnhv.apps.googleusercontent.com">
  <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>
  <div id="my-signin2" style="display: none;"></div><a href="#" onclick="signOut();">Logout</a>
  <script>
    function onSuccess(googleUser) {
    }
    function onFailure(error) {
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'https://www.googleapis.com/auth/userinfo.email',
        'width': 150,
        'height': 25,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
	function signOut() {
	  var auth2 = gapi.auth2.getAuthInstance();
	  auth2.signOut().then(function () {
	    console.log('User signed out.');
	  });
	  parent.de.hpi.logout();
	}
</script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>