    <div id="uriFragmentUtility" location="uriFragmentUtility"></div>
    <div id="header" id="top">	 
      <img src="http://bpt.hpi.uni-potsdam.de/pub/TWiki/ConfSkin/logo.gif">	 <h1> Conferences on Business Process Management</h1>  
    </div>	
    <div id="nav_outer">
      <ul id="navigation">		
        <li>
        <a href="http://www.bpm-conference.org/BpmConference/WebHome" class="twikiCurrentTopicLink twikiCurrentWebHomeLink twikiLink">
          <span><strong>Home</strong>Upcoming BPM
          </span></a>
        </li>		
        <li>
        <a href="http://www.bpm-conference.org/BpmConference/Conferences" class="twikiLink">
          <span><strong>Conferences</strong>BPM in the Past
          </span></a>
        </li>		
        <li>
        <a href="http://www.bpm-conference.org/BpmConference/SteeringCommittee" class="twikiLink">
          <span><strong>Organization</strong>Steering Committee
          </span></a>
        </li>		
        <li>
        <a href="#" class="twikiLink">
          <span><strong>Resources</strong>Tools for BPM
          </span></a>
        </li>		
        <li>
        <a href="http://www.bpm-conference.org/BpmConference/Books" class="twikiLink">
          <span><strong>Books</strong>Learn about BPM
          </span></a>
        </li>		
        <li>
        <a href="http://www.bpm-conference.org/BpmConference/Newsletter" class="twikiLink">
          <span><strong>News</strong>Infos from the Community
          </span></a>
        </li>	
      </ul>
    </div>	
    <div id="breadcrumbs">
    </div>	
    <div id="content">	 
      <div id="defaultbody" location="application">   
      </div>
    </div>
    	<div id="footer">
		Copyright (c) 2005-2013 by the contributing authors. <a href="mailto:&#098;&#112;&#116;&#114;&#101;&#115;&#111;&#117;&#114;&#099;&#101;&#109;&#097;&#110;&#097;&#103;&#101;&#109;&#101;&#110;&#116;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Feedback to Tools for BPM</a><br/> All material on this collaboration platform is the property of the contributing authors.  <a href="/BpmConference/LegalNotice" class="twikiLink">Legal Notice</a>
		<!--
		(<a href="https://bpt.hpi.uni-potsdam.de/login/BpmConference/WebHome?origurl=/BpmConference/WebHome">login</a>)
		-->
	</div>
	<div id="fixed"></div>
</div>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35319704-1']);
  _gaq.push(['_setDomainName', 'bpm-conference.org']);
  _gaq.push(['_trackPageview']);
  (function() {
	 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 </script>
<script>
function scrollPos() {
	 return {
		  x: window.pageXOffset ? window.pageXOffset : document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ? document.body.scrollLeft : null,
		  y: window.pageYOffset ? window.pageYOffset : document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ? document.body.scrollTop : null
	 }
}
function elemPos(obj) {
	 var pos = {x:0, y:0};
	 do {
		 pos.x += obj.offsetLeft;
	   pos.y += obj.offsetTop;
	 } while (obj = obj.offsetParent);
	 return pos;
}
var n = document.getElementById("navigation"),
	 f = document.getElementById("fixed"),
	c = false,
	 s = document.getElementById("nav_outer"),
	 npos = elemPos(n);
if (n && f && s && npos.y) {
	window.addEventListener("scroll", function() {
	    sp = scrollPos();
	    if (npos.y < sp.y && !c) {
			n.parentNode.removeChild(n);
	        f.appendChild(n);
	        c = true;
	    } else if (npos.y > sp.y && c) {
	    	n.parentNode.removeChild(n);
			s.appendChild(n);
			c = false;
	    }
	});	
}
</script>
<script>

function showEntry(id){                                         
        var divId = id + "_extension"
        document.getElementById(divId).style.display = "block";
        var button_id = id + "_button_more";
        document.getElementById(button_id).style.display = "none";
        var button_id = id + "_button_less";
        document.getElementById(button_id).style.display = "block";
        
}
</script>

<script>

function hideEntry(id){
    var divId = id + "_extension"
    document.getElementById(divId).style.display = "none";
    var button_id = id + "_button_more";
    document.getElementById(button_id).style.display = "block";
    var button_id = id + "_button_less";
    document.getElementById(button_id).style.display = "none";

}

</script>
  