<li class="entry singleEntry">
	<div class="Logo" location="Logo"></div>
	<h3 class="Name" location="Name"></h3>
	<div class="Description" location="Description"></div>
	<div class="Provider" location="Provider"></div>
	<div class="Download URL" location="Download URL"></div>
	<div class="Documentation URL" location="Documentation URL"></div>
  	<div class="Screencast URL" location="Screencast URL"></div>
  	<div class="Tutorial URL" location="Tutorial URL"></div>
  	<div class="Availability" location="Availability"></div>
  	<div class="Model type" location="Model type"></div>
  	<div class="Platform" location="Platform"></div>
  	<div class="Supported functionality" location="Supported functionality"></div>
  	<div class="Contact name" location="Contact name"></div>
  	<!-- <div class="Contact mail" location="Contact mail"></div> -->
 	<div class="Date created" location="Date created"></div>
  	<div class="Last update" location="Last update"></div>
  	<div class="OpenID of resource provider" location="OpenID of resource provider"></div>
  	<div class="Contact of resource provider" location="Contact of resource provider"></div>
  	<div id="button edit edit" class="button edit edit" location="button edit"></div>
  	<div id="button edit delete" class="button edit delete" location="button delete"></div>
  	<div id="button edit publish" class="button edit publish" location="button publish"></div>
  	<div id="button edit reject" class="button edit reject" location="button reject"></div>
  	<div id="button edit propose" class="button edit propose" location="button propose"></div>
  	<div id="button edit unpublish" class="button edit unpublish" location="button unpublish"></div>
</li>