<table style="width:100%">
	<tr>
		<td align="left" valign="bottom">
			<h2 class="Title" location="Title"></h2>
		</td>
		<td align="right" valign="bottom">
			<h4 class="Exercise_Set_ID" location="Exercise Set ID"></h4>
		</td>
	</tr>
</table>
<div class="Description" location="Description"></div>
<div class="Exercise URL" location="Exercise URL"></div>
<div class="PDF file" location="PDF file"></div>
<div class="DOC file" location="DOC file"></div>
<div class="Supplementary files" location="Supplementary files"></div>